:root {
    --light-mode-bg: white;
    --dark-mode-bg:black;
    --light-mode-color: rgb(0, 0, 0);
    --dark-mode-color:white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: var(--dark-mode-bg);
    color: var(--dark-mode-color);
}

.calculator {
    height: 100%;
    min-height: 44vh;
    width: 230px;
    background-color: rgb(37, 36, 36);
    margin: 100px auto;
    color: white;
    border-radius: 8px;
}

.displayCalculation-div {
    height: 80px;
    background-color: rgb(41, 38, 38);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding-left: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid gray;
    font-weight: 700;
    font-size: larger;
}

.calculator-button {
    background-color: rgb(53, 45, 45);
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 90px;
    position: relative;
    left: 7%;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 700;
}

.calculator-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.calculator-button:focus {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.gray-button {
    background-color: rgb(51, 51, 51);
    color: white;
  }
  
  .orange-button {
    background-color: rgb(254, 160, 10);
    color: white;
  }
  
  .clear-button {
    font-size: 17px;
    margin-left: 0.95rem;
    padding: 0.3rem 1rem ;
    margin-top: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
  }

  .clear-button:hover {
    background-color: var(--light-mode-bg);
    color: var(--dark-mode-bg);
  }

  .mode-button {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 2px;
  }


  .light-mode {
    background-color: var(--light-mode-bg);
    color: var(--dark-mode-bg);
  }

  .dark-mode {
    background-color: var(--dark-mode-bg);
    color: var(--light-mode-bg);
  }

  .light-mode .mode-button {
    background-color: var(--dark-mode-bg);
    color: var(--light-mode-bg);
}

.dark-mode .mode-button {
    background-color: var(--light-mode-bg);
    color: var(--dark-mode-bg);
}